mat-card{
    width: 300px;
    height: auto;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 24px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 3px 7px 5px -5px rgb(11, 230, 211), 
                3px 5px 5px 0 rgb(232, 255, 23), 
                3px 5px 8px 0 rgba(0,0,0,1);
}

*{
    font-family: cursive;
}

::ng-deep .mat-expansion-panel-body{
    background-color: rgb(11,230,211);
    max-height: 250px;
    overflow-y: auto;
}