mat-card{
    width: 300px;
    height: auto;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 24px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 3px 7px 5px -5px rgb(11, 230, 211), 
                3px 5px 5px 0 rgb(232, 255, 23), 
                3px 5px 8px 0 rgba(0,0,0,1);
}

*{
    font-family: cursive;
}

::ng-deep .mat-expansion-panel-body{
    background-color: rgb(11,230,211);
    max-height: 300px;
    overflow-y: auto;
}
.example-box {
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  
.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }